*{
    margin: 0;
    padding:0;
}
body{
    background-color: #003459;
    text-align: center;
    color: white;
    
}
.container{
    height: 70vh;
    display: flex;
    
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;


}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.5rem;
    border: none;
    box-shadow: 0 0 1 rem rgba(0,0,0,0.4);
    font-size: 8vmin;
    color:#00171f ;
    background-color:#eff6e0 ;

}

#reset{
    padding: 1rem;
    font-size: 1.30rem;
    background-color:#758bfd ;
    color:white;
    border-radius: 1rem;
    border:none;
}
#new{
    padding: 1rem;
    font-size: 1.30rem;
    background-color:#758bfd ;
    color:white;
    border-radius: 1rem;
    border:none;

}
#msg{
    color: #eff6e0;
    font-size: 6vmin;
}
.msgcon{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}